body{
    background-color: blanchedalmond;

}
/* 모바일 퍼스트 */
/* 기본 레이아웃을 모바일로 맞춘다. */
.title{
    font-size: 48px;
}

/* orientation은 가로모드 가로모드는 세로보다 가로가 길때 */
@media screen and (min-width:768px){
    body{
        background-color: royalblue;
    }
    .title{
        font-size: 24px;
    }
}

@media screen and (min-width:1024px){
    body{
        background-color: green;
      
    }
    .title{
        font-size: 12px;
    }
}