*{
    box-sizing: border-box;
}
/* 여백 없애기 */
html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(227,240,251);    
}
.container{
    background-color: rgb(77,146,207);
    max-width: 768px;
    min-height: 100vh;
    /* 첫번째는 위아래 두번째는 좌우 */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
nav{
    background-color: tomato;
    color: white;
    /* width:120px; */
    flex-basis: 120px;
}

.box-container{    
    background-color: aquamarine;
    /* width: 100%; */
    flex-grow: 1;
    display: flex;
    /* 사이좋게 쪼갤려고 할때 여러행으로 거쳐서*/
    flex-wrap: wrap;
}

.box{
    background-color: wheat;
    border:3px solid rgb(44,24,44);

    border-radius: 5px;
    /* width:50%; */
    flex-basis: 50%;
    min-height: 150px;
    flex-grow: 1;
}
.box:nth-child(2n){
    border-color: blue;
}

footer{
    background-color: rgb(56, 85, 56);
    border: 3px solid green;
    min-height: 50px;
    flex-grow: 1;
    /* 보정 */
    flex-basis: 100%;
}



@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
    }    
}

@media screen and (max-width:480px) {
    /* .box-container{      
        flex-direction: column;        
    } */
    .box{
        flex-basis: 100%;
    }
}